asgiref
attrs
autobahn
Automat
cbor2
certifi
cffi
channels
charset-normalizer
constantly
cryptography
daphne
dj-rest-auth
Django
django-allauth
django-cors-headers
djangorestframework
djangorestframework_simplejwt
gunicorn
hyperlink
idna
Incremental
msgpack
oauthlib
packaging
pillow
psycopg2-binary
pycparser
PyJWT
pyOpenSSL
python-dotenv
razorpay
requests
service-identity
sqlparse
Twisted
txaio
typing_extensions
tzdata
ujson
urllib3
whitenoise
zope.interface
dj-database-url
google-generativeai
